/* Estilos Generales */
body {
  font-family: 'Georgia', serif;
  background-color: #f4f4f4;
  padding: 20px;
}
.container {
  max-width: 960px;
  margin: auto;
  background: white;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1, h2 { 
  text-align: center;
  color: #0c2340;
  margin: 5px 0;
}
.section {
  margin-bottom: 20px;
}
label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #003366;
}
input, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, sans-serif;
}
button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


#pdf-content {
  display: none; /* Primero, que no se vea ni ocupe espacio */
}

.pdf-header {
  text-align: center;
  margin-bottom: 20px;
}
.pdf-header h2 {
  margin: 5px 0;
  color: #0c2340;
}

/* Tablas */
.main-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.main-table th, .main-table td {
  border: 2px solid #003366; /* bordes azules oscuros */
  padding: 8px 12px;
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
}
.main-table th {
  background-color: #003366;
  color: white;
  font-weight: bold;
}

/* Ajustes para las celdas */

.bold {
  font-weight: bold;
  background-color: #e6e6e6; /* gris clarito para las celdas tipo etiquetas */
}
.section-title {
  background-color: #0984ff;
  color: rgb(185, 0, 0);
  padding: 10px;
  font-weight: 1000; /* Aquí ponemos extra negrita */
  font-size: 16px;
  text-align: center;
  border-top: 4px double #003366;
  border-bottom: 4px double #003366;
  letter-spacing: 0.5px; /* Opcional para que se vea más formal */
  text-transform: uppercase; /* Opcional si quieres que se vea en mayúsculas */
}
